{# type=static,filename=api/mod.rs,min_version=0.5.0 #}
{%- import "macros.j2" as m -%}
#![allow(dead_code, unused_imports, unused_variables, clippy::all)]
{{ m::do_not_modify() }}

pub mod endpoint;
pub mod model;
pub mod service;
{%- if options.qs | default(value = "serde_urlencoded") == "serde_qs" %}
pub mod qs;
{% endif %}