{% component client_skipped_headers(endpoint, options) -%}{% filter trim %}
traceparent tracestate
{% endfilter %}{%- endcomponent client_skipped_headers %}

{% component client_endpoint_parameters(endpoint, options) -%}{%- endcomponent client_endpoint_parameters %}
{% component client_endpoint_block(endpoint, options) -%}{%- endcomponent client_endpoint_block %}

{% component client_log(type, options) -%}{% filter trim %}
{% if options.log | default(value = "tracing") == "tracing" %}
tracing::{{ type }}!
{% elif options.log == "log" %}
log::{{ type }}!
{% endif %}
{% endfilter %}{%- endcomponent client_log %}
