{% component property_name(name) %}{% filter nospaces %}
    {{ name | replace(from="-", to="") | when_numeric(prefix="n") | snakecase }}
    {% if name | snakecase in [
        "false", "fn", "for", "if", "impl", "in", "let", "loop", "match", "mod", "move",
        "mut", "pub", "ref", "return", "self", "static", "struct", "super", "trait",
        "true", "type", "unsafe", "use", "where", "while", "async", "await", "dyn",
        "abstract", "become", "box", "do", "final", "macro", "override", "priv", "typeof",
        "unsized", "virtual", "yield", "try", "result"
    ] %}_{% endif %}
{% endfilter %}{% endcomponent property_name %}

{% component has_format(format, models) -%}
{% for model in [item for item in models if item.object] -%}
{% for property in model.object.properties -%}
{% if property.validation?.format == format %}1{% endif %}
{%- endfor %}
{%- endfor %}
{%- endcomponent has_format %}

{% component model_name(name) %}{% filter nospaces %}
    {{ name  }}
{% endfilter %}{% endcomponent model_name %}

{% component is_primitive(type) %}{% filter nospaces %}{% endfilter %}{% endcomponent is_primitive %}

{% component to_string(q, required, name='') %}{% filter nospaces %}
{% if name != "" %}
{% set real_name = name -%}
{% else %}
{% set real_name = "self." ~ <property_name name={q.name}/> -%}
{% endif %}
{% if q.type == "enum" %}
    {{ real_name }}.to_string()
{% elif q.type == "string" %}
    {{ real_name }}.clone()
{% else %}
    format!("{}", {{ real_name }})
{% endif %}
{% endfilter %}{% endcomponent to_string %}

{% component to_str(q, name='') %}{% filter nospaces %}
{% if name != "" %}
{% set real_name = name -%}
{% else %}
{% set real_name = "self." ~ <property_name name={q.name}/> -%}
{% endif %}
{% if q.type == "string" and q.validation and q.validation.format and q.validation.format == "uuid" %}
    {{ real_name }}.to_string().as_ref()
{% elif q.type == "enum" %}
    {{ real_name }}.to_string().as_ref()
{% elif q.type == "string" %}
    {{ real_name }}.as_ref()
{% else %}
    format!("{}", {{ real_name }}).as_ref()
{% endif %}
{% endfilter %}{% endcomponent to_str %}

{% component enum_variant(name, base_name) %}{% filter nospaces %}
{% set base = <model_name name={base_name}/> -%}
{{ name | pascalcase | when_numeric(prefix=base) }}
{% endfilter %}{% endcomponent enum_variant %}


{% component range_type_validation(value, type) %}{% filter nospaces %}
    {% set value_str = value | str %}
    {% if type == "number" and value_str is not containing(pat=".") %}
        .0
    {% endif %}
{% endfilter %}{% endcomponent range_type_validation %}

{% component get_validation(validation, regex_path="", form=false, type="integer") %}{% filter nospaces %}
    {% if validation.format and validation.format in ["decimal", "uuid"] %}
    {% else %}
        {% if validation.minLength %}length(min = {{ validation.minLength }}{% if validation.maxLength %}, max = {{ validation.maxLength }}{% endif %}), {% endif %}
        {% if validation.maxLength and not validation.minLength %}length(max = {{ validation.maxLength }}), {% endif %}
        {% if validation.minItems %}length(min = {{ validation.minItems }}{% if validation.maxItems %}, max = {{ validation.maxItems }}{% endif %}), {% endif %}
        {% if validation.maxItems and not validation.minItems %}length(max = {{ validation.maxItems }}), {% endif %}
        {% if form %}inner({% endif %}
        {% if validation.pattern %}pattern({{ regex_path }}{{ validation.pattern.name | snakecase | upper }}), {% endif %}
        {% if validation.minimum is defined or validation.maximum is defined %}
        range(
            {% if validation.minimum is defined %}min = {{ validation.minimum }}{{ <range_type_validation value={validation.minimum} type={type}/> }}{% if validation.maximum is defined %}, {% endif %}{% endif %}
            {% if validation.maximum is defined %}max = {{ validation.maximum }}{{ <range_type_validation value={validation.maximum} type={type}/> }}{% endif %}
        )
        {% endif %}
        {% if form %}){% endif %}
    {% endif %}
{% endfilter %}{% endcomponent get_validation %}

{% component model_validation(model, options, is_required=true, regex_path="", style="") %}{% filter nospaces %}
    {% if not options.skipValidate %}
        {% if model == 'none' %}
        #[garde(skip)]
        {% elif model.validation and model.type != 'enum' %}
            {% if <get_validation validation={model.validation} form={style == "form"} type={model.type}/> | length %}
                #[garde(
                    {% if not is_required -%}inner({%- endif -%}
                    {{ <get_validation validation={model.validation} regex_path={regex_path} form={style == "form"} type={model.type}/> }}
                    {%- if model.type == "array" and model.model.validation and model.model.type != "enum" %}
                        {% if not model.required -%}inner({%- endif -%}
                        {%- if model.nullable -%}inner({%- endif -%}
                        inner({{ <get_validation validation={model.model.validation} regex_path={regex_path} type={model.model.type}/> }})
                        {%- if model.nullable -%}){%- endif %}
                        {%- if not model.required -%}){%- endif %}
                    {% endif %}
                    {%- if not is_required -%}){%- endif %}
                )]
            {% else %}
                #[garde(skip)]
            {% endif %}
        {% elif model.type == 'array' and model.model.validation and model.model.type != "enum" %}
            {% if <get_validation validation={model.model.validation} form={style == "form"} type={model.model.type}/> | length %}
                #[garde(
                    {%- if not is_required -%}inner({%- endif -%}
                    {%- if not model.required -%}inner({%- endif -%}
                    {%- if model.nullable -%}inner({%- endif -%}
                    inner({{ <get_validation validation={model.model.validation} regex_path={regex_path} form={style == "form"} type={model.model.type}/> }})
                    {%- if model.nullable -%}){%- endif %}
                    {%- if not model.required -%}){%- endif -%}
                    {%- if not is_required -%}){%- endif -%}
                )]
            {% else %}
                #[garde(skip)]
            {% endif %}
        {% elif <need_nested_validation property={model}/> == "1" %}
            #[garde(dive)]
        {% else %}
            #[garde(skip)]
        {% endif %}
    {% endif %}
{% endfilter %}{% endcomponent model_validation %}

{% component enum_validation(option, options, regex_path="") %}{% filter nospaces %}
    {%- if not options.skipValidate %}
        {%- if option.x?._discriminator?.value?.model %}
            #[garde(dive)]
        {%- else %}
            #[garde(skip)]
        {%- endif %}
    {%- endif %}
{% endfilter %}{% endcomponent enum_validation %}

{% component type(property, ns="") %}{% filter nospaces %}
{% if property.nullable %}Option<{% endif %}

{# todo: model name cannot be one of json-schema types, infinite loop, check #}

{% if property.x?.type %}
    {{ property.x?.type }}
{% elif property.validation?.format == "decimal" %}
    Decimal
{% elif property.type == "string" %}
    {% if property.validation?.format == "uuid" %}
    uuid::Uuid
    {% elif property.validation?.format in ["date-time", "date"] %}
    DateTime<Utc>
    {% else %}
    String
    {% endif %}
{% elif property.type == "boolean" %}
    bool
{% elif property.type == "integer" and property.validation?.minimum | default(value = -1) >= 0 %}
    u64
{% elif property.type == "integer" %}
    i64
{% elif property.type == "number" %}
    f64
{% elif property.type == "any" %}
    serde_json::Value
{% elif property.type == "array" and property.model %}
    Vec<{{ <type property={property.model} ns={ns}/> }}>
{% elif property.type == "map" and property.model %}
    BTreeMap<String, {{ <type property={property.model} ns={ns}/> }}>
{% elif property.type == "object" and property.model %}
    {% if ns %}{{ ns }}::{% endif %}{{ <model_name name={property.model.type}/> }}
{% elif property.type == "wrapper" and property.model %}
    {% if ns %}{{ ns }}::{% endif %}{{ <model_name name={property.model.name}/> }}
{% elif property.type == "enum" and property.model %}
    {% if ns %}{{ ns }}::{% endif %}{{ <model_name name={property.model.name}/> }}Variant
{% endif %}

{% if property.nullable %}>{% endif %}
{% endfilter %}{% endcomponent type %}

{% component do_not_modify() %}
//
// This file is generated from openapi specification. Please do not modify it.
// It should be .gitignored
//
#![allow(warnings)]
#![allow(clippy::all)]
{% endcomponent do_not_modify %}

{% component get_auth_header(security) -%}
{% if security.scheme == 'basic' %}Authorization{% else %}{{ security.name }}{% endif %}
{%- endcomponent get_auth_header %}

{% component endpoint_return(success, endpoint, headers, options) -%}{% filter nospaces %}Result<
    {% if success == "no-models" or success.contentType is not starting_with(pat="application/json") %}
        {% if success.model is defined and success.model?.type == "object" and success.model?.model is defined and success.model?.model?.name %}
            {{ <endpoint_model_response success={success} headers={headers}/> }}
        {% elif success.model is defined and success.model?.type == "wrapper" and success.model?.model is defined and success.model?.model?.type %}
            {{ <endpoint_model_response success={success} headers={headers}/> }}
        {% elif success.model?.validation?.format == "binary" %}
            {{ <endpoint_default_response endpoint={endpoint} options={options}/> }}
        {% elif success.contentType and (success.contentType == "text/html" or (success.model is defined and success.model?.type == "string")) %}
            String
        {% else %}
            {{ <endpoint_default_response endpoint={endpoint} options={options}/> }}
        {% endif %}
    {% elif success.model is defined %}
        {{ <endpoint_model_response success={success} headers={headers}/> }}
    {% else %}
    reqwest::Response
    {% endif %},
    {{ <endpoint_error endpoint={endpoint} options={options}/> }}
>{% endfilter %}{%- endcomponent endpoint_return %}

{% component endpoint_model_response(success, headers) -%}
    {% if headers | length > 0 %}({% endif %}
    {{ <type property={success.model} ns="model"/> }}
    {% if headers | length > 0 %}, reqwest::header::HeaderMap
    ){% endif %}
{%- endcomponent endpoint_model_response %}
{% component endpoint_default_response(endpoint, options) -%}endpoint::{{ endpoint.operation | pascalcase }}Response{%- endcomponent endpoint_default_response %}

{% component endpoint_error(endpoint, options) -%}{% filter nospaces %}
{% if options.errorWrapperType %}{{ options.errorWrapperType }}{% else %}ClientError<{{ <endpoint_error_body endpoint={endpoint} options={options}/> }}>{% endif %}
{% endfilter %}{%- endcomponent endpoint_error %}

{% component endpoint_error_body(endpoint, options) -%}{% filter nospaces %}
{% if options.globalError %}
    {{ options.globalError }}
{% else %}
    endpoint::{{ endpoint.operation | pascalcase }}Error
{% endif %}
{% endfilter %}{%- endcomponent endpoint_error_body %}

{% component endpoint_map_error(reqwest, endpoint, options) %}{% filter nospaces %}
    ClientError::<{{ <endpoint_error_body endpoint={endpoint} options={options}/> }}>::from_reqwest({{ reqwest }})
{% endfilter %}{% endcomponent endpoint_map_error %}

{% component endpoint_handle_error(response, endpoint, options) %}{% filter nospaces %}
    ClientError::<{{ <endpoint_error_body endpoint={endpoint} options={options}/> }}>::from_response({{ response }}).await
{% endfilter %}{% endcomponent endpoint_handle_error %}

{% component model_to_string(name, property) %}{% filter nospaces %}
{% if property.type == "enum" %}
{{ name }}.to_string()
{% elif property.type == "string" %}
{{ name }}
{% else %}
/* todo */
{% endif %}
{% endfilter %}{% endcomponent model_to_string %}

{% component need_nested_validation(property) %}{% filter nospaces %}
    {% if property.model and property.model.type == "array" and property.model.model %}
        {{ <need_nested_validation property={property.model.model}/> }}
    {% elif property.type in ["map", "array"] and property.model.type == "any" %}
        0
    {% elif property.type != "enum" and not property.x?.type and property.model and property.model.type not in [
        "string", "number", "integer", "boolean", "bool", "null", "enum"] %}
        1
    {% endif %}
{% endfilter %}{% endcomponent need_nested_validation %}
