{# type=static,filename=api/mod.rs,min_version=0.2.0 #}
{%- import "macros.j2" as m -%}
{{ m::do_not_modify() }}

#[allow(dead_code, unused_imports)]
pub mod endpoint;
#[allow(dead_code, unused_imports)]
pub mod model;
#[allow(dead_code, unused_imports)]
pub mod service;