{% component model_object_impl(model, options) %}
{% set names = [property.name for property in model.object.properties] %}
{% set type_property = [property for property in model.object.properties if property.name == "type"] | first %}
{% if model.object.name is ending_with(pat="Meta") and type_property %}

impl std::convert::Into<FieldTable> for {{ <model_name name={model.object.name}/> }} {
    fn into(self) -> FieldTable {
        let mut headers = FieldTable::default();

        {% for property in model.object.properties %}
        {%- if property.required %}
        {% if property.type == "const" %}
        headers.insert(
            ShortString::from("{{ property.name }}"),
            AMQPValue::from(LongString::from("{{ property.model.name }}")),
        );
        {% else %}
        headers.insert(
            ShortString::from("{{ property.name }}"),
            AMQPValue::from(LongString::from(self.{{ <property_name name={property.name}/> }})),
        );
        {% endif %}
        {% else %}
        if let Some(param) = self.{{ <property_name name={property.name}/> }} {
            headers.insert(
                ShortString::from("{{ property.name }}"),
                AMQPValue::from(LongString::from({{ <model_to_string name="param" property={property}/> }})),
            );
        }
        {% endif %}
        {% endfor %}

        headers.insert(
            ShortString::from("published-at"),
            AMQPValue::from(LongString::from(generate_time_string()))
        );

        headers.insert(
            ShortString::from("content-type"),
            AMQPValue::from(LongString::from("application/json"))
        );

        headers
    }
}

impl std::convert::From<FieldTable> for {{ <model_name name={model.object.name}/> }} {
    fn from(ft: FieldTable) -> Self {
        let bt = ft.inner();

        Self {
            {% for property in [property for property in model.object.properties if property.type != "const"] %}
            {{ <property_name name={property.name}/> }}:
                bt.get(
                    "{{ property.name }}"
                ).and_then(|s| match s {
                    lapin::types::AMQPValue::LongString(s) => Some(s.to_string()),
                    _ => None
                })
                {% if property.type == "enum" %}
                .and_then(|s|
                    {{ <type property={property} ns=""/> }}::from_str(&s).ok() // todo: error
                )
                {% endif %},
            {% endfor %}
        }
    }
}

impl {{ <model_name name={model.object.name}/> }} {
    fn get_type() ->  &'static str {
        "{{ type_property.model.name }}"
    }
}

{% elif names is containing(pat="meta") and names is containing(pat="payload") %}
{% set meta = [property for property in model.object.properties if property.name == "meta"] | first %}
{% set payload = [property for property in model.object.properties if property.name == "payload"] | first %}

impl super::Message for {{ <model_name name={model.object.name}/> }} {
    fn message_type() -> &'static str {
        {{ <type property={meta}/> }}::get_type()
    }
}

impl super::PublishMessage for {{ <model_name name={model.object.name}/> }} {
    type Payload = {{ <type property={payload}/> }};

    fn into_parts(self) -> (FieldTable, Self::Payload) {
        let mut headers: FieldTable = self.meta.into();
        headers.insert(
            ShortString::from("type"),
            AMQPValue::LongString(LongString::from(
                {{ <type property={meta}/> }}::get_type()
            )),
        );
        (headers, self.payload)
    }
}

impl super::MessageExtractor for {{ <model_name name={model.object.name}/> }} {
    fn message_type() -> &'static str {
        {{ <type property={meta}/> }}::get_type()
    }

    fn extract_payload(headers: &FieldTable, payload: &[u8]) -> Option<Self> {
        match serde_json::from_slice(payload) {
            Ok(payload) => Some(Self {
                meta: {{ <type property={meta}/> }}::from(headers.clone()),
                payload: payload,
            }),
            Err(e) => {
                tracing::error!(
                    message_type = {{ <type property={meta}/> }}::get_type(),
                    error = %e,
                    "Failed to deserialize message"
                );
                None
            }
        }
    }
}

{% endif %}
{% endcomponent model_object_impl %}
