{% component model_object_impl(model, options) %}
{% set names = [property.name for property in model.object.properties] %}
{% set type_property = [property for property in model.object.properties if property.name == "type"] | first %}
{% if model.object.name is ending_with(pat="Meta") and type_property %}

impl std::convert::Into<FieldTable> for {{<model_name name={model.object.name}/>}} {
    fn into(self) -> FieldTable {
        let mut headers = FieldTable::default();

        {% for property in model.object.properties %}
        {%- if property.required %}
        {% if property.type == "const" %}
        headers.insert(
            ShortString::from("{{ property.name }}"),
            AMQPValue::from(LongString::from("{{ property.model.name }}")),
        );
        {% else %}
        headers.insert(
            ShortString::from("{{ property.name }}"),
            AMQPValue::from(LongString::from(self.{{<property_name name={property.name}/>}})),
        );
        {% endif %}
        {% else %}
        if let Some(param) = self.{{<property_name name={property.name}/>}} {
            headers.insert(
                ShortString::from("{{ property.name }}"),
                AMQPValue::from(LongString::from({{<model_to_string name="param" property={property}/>}})),
            );
        }
        {% endif %}
        {% endfor %}

        headers.insert(
            ShortString::from("published-at"),
            AMQPValue::from(LongString::from(generate_time_string()))
        );

        headers.insert(
            ShortString::from("content-type"),
            AMQPValue::from(LongString::from("application/json"))
        );

        headers
    }
}

impl std::convert::From<FieldTable> for {{<model_name name={model.object.name}/>}} {
    fn from(ft: FieldTable) -> Self {
        let bt = ft.inner();

        Self {
            {% for property in [property for property in model.object.properties if property.type != "const"] %}
            {{<property_name name={property.name}/>}}:
                bt.get(
                    "{{ property.name }}"
                ).and_then(|s| match s {
                    lapin::types::AMQPValue::LongString(s) => Some(s.to_string()),
                    _ => None
                })
                {% if property.type == "enum" %}
                .and_then(|s|
                    {{<type property={property} ns=""/>}}::from_str(&s).ok() // todo: error
                )
                {% endif %},
            {% endfor %}
        }
    }
}

impl {{<model_name name={model.object.name}/>}} {
    fn get_type() -> String {
        "{{ type_property.model.name }}".to_string()
    }
}

{% elif names is containing(pat="meta") and names is containing(pat="payload") %}
{% set meta = [property for property in model.object.properties if property.name == "meta"] | first %}
{% set payload = [property for property in model.object.properties if property.name == "payload"] | first %}

impl super::Message for {{<model_name name={model.object.name}/>}} {

    type Meta = {{<type property={meta}/>}};
    type Payload = {{<type property={payload}/>}};

    fn split(self) -> (Self::Meta, Self::Payload) {
        (self.meta, self.payload)
    }
}

impl super::MessageExtractor for {{<model_name name={model.object.name}/>}} {
    fn get_type() -> String {
        {{<type property={meta}/>}}::get_type()
    }

    fn extract(headers: FieldTable, data: &str) -> Option<Self> {
        let payload: Result<{{<type property={payload}/>}}, _> = serde_json::from_str(data);

        if payload.is_err() {
            {{<rmq_log type="error" options={options}/>}}(
                "MessageExtractor failed: {:?}", payload.as_ref().err()
            );
        }

        Some(Self {
            meta: {{<type property={meta}/>}}::from(headers),
            payload: payload.ok()?,
        })
    }
}
{% endif %}
{% endcomponent model_object_impl %}
