on:
  pull_request: {}
  push:
    branches:
      - master

name: build

jobs:
  build_unix:
    name: Build rust sample application
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: make codegen
        working-directory: ./tests/rust
      - run: cargo build --release
        working-directory: ./tests/rust
